<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.ich.mapper.NewsMapper">

    <resultMap type="News" id="NewsResult">
        <result property="newsId"    column="news_id"    />
        <result property="title"    column="title"    />
        <result property="summary"    column="summary"    />
        <result property="content"    column="content"    />
        <result property="image"    column="image"    />
        <result property="author"    column="author"    />
        <result property="category"    column="category"    />
        <result property="createTime"    column="create_time"    />
        <result property="isFocus"    column="is_focus"    />
    </resultMap>

    <select id="selectNewsList" parameterType="News" resultMap="NewsResult">
        select news_id, title, summary, content, image, author, category, create_time, is_focus from news
        <where>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="author != null  and author != ''"> and author like concat('%', #{author}, '%')</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectNewsByNewsId" parameterType="String" resultMap="NewsResult">
        select news_id, title, summary, content, image, author, category, create_time, is_focus from news
        where news_id = #{newsId}
    </select>
    <!--查询新闻资讯表中此前的焦点新闻的新闻ID-->
    <select id="selectOldFocusNewsToId" resultType="java.lang.String">
        select news_id
        from news
        where is_focus = true
    </select>
    <!--查询新闻资讯表中是否已存在焦点新闻-->
    <select id="selectIsFocus" resultType="java.lang.Boolean">
        select count(news_id)
        from news
        where is_focus = true
    </select>
    <!--查询焦点新闻信息-->
    <select id="selectFocusNews" resultMap="NewsResult">
        select news_id, title, summary, content, image, author, category, create_time, is_focus
        from news
        where is_focus = true
    </select>

    <!--查询非焦点新闻列表, 并根据发布时间倒序排序-->
    <select id="selectNonFocusNewsList" parameterType="News" resultMap="NewsResult">
        select news_id, title, summary, content, image, author, category, create_time, is_focus
        from news
        where is_focus = false
        order by create_time desc
    </select>
    <insert id="insertNews" parameterType="News">
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="newsId != null">news_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="summary != null and summary != ''">summary,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="image != null and image != ''">image,</if>
            <if test="author != null and author != ''">author,</if>
            <if test="category != null and category != ''">category,</if>
            <if test="createTime != null">create_time,</if>

         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="newsId != null">#{newsId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="summary != null and summary != ''">#{summary},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="image != null and image != ''">#{image},</if>
            <if test="author != null and author != ''">#{author},</if>
            <if test="category != null and category != ''">#{category},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>
    <update id="updateNews" parameterType="News">
        update news
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="summary != null and summary != ''">summary = #{summary},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="isFocus != null">is_focus = #{isFocus},</if>
        </trim>
        where news_id = #{newsId}
    </update>

    <delete id="deleteNewsByNewsId" parameterType="String">
        delete from news where news_id = #{newsId}
    </delete>

    <delete id="deleteNewsByNewsIds" parameterType="String">
        delete from news where news_id in
        <foreach item="newsId" collection="array" open="(" separator="," close=")">
            #{newsId}
        </foreach>
    </delete>
</mapper>
